/.DS_Store
/data
claude.md
docker-compose.unraid.yml
docker-compose.yml
/node_modules
/site

# Pi agent files
/.pi/
/.pi-lens/
/.codex
/.feature-dev
/.full-review
/.full-review-archive
/.full-stack-feature
/.full-stack-feature-archive
